
h1{
	font-family: "Times New Roman",Georgia,serif;
	  font-size: 40px;
text-align: center;  
  color: red;
  background-color: black;
}


}
body {
  background-color: lightblue;
}

p{
	font-size: 30px;
	color: solid black;
}

header{
	background-color:orange;
	margin-left: 800px;
}
ul{
	margin:10px;
	padding:10px;
	list-style:none;
}
li{display: inline-block;
	margin: 10px;
}


li a{
	text-decoration: none;
	margin: 10px;

}
.my-nav{
	display: flex;
}
a:hover{
	border-bottom: 2px;
	color:aqua;
}
div.gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width:180px;
	color:tomato;
	font-family:"Times New Roman" Georgia,serif;
	font-size:15px;   
}
div.gallery:hover{
	border: 1px solid #777;
}	
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
h2{
	font-family: "Times New Roman",Georgia,serif;
	  font-size: 40px;
text-align: center;  
  color: red;
  background-color: black;
}
